.container
	.row.clearfix
		.col-md-12.column
			.carousel.slide id="carousel-893976"
				ol.carousel-indicators
					li data-slide-to="0" data-target="#carousel-893976"
					li.active data-slide-to="1" data-target="#carousel-893976"
					li data-slide-to="2" data-target="#carousel-893976"
					<!-- 输出轮播图片 -->
				.carousel-inner style="margin-top: 50px;"
					- Project.last(3).each do |project|
						- if project.id == 2
							.item.active
								= image_tag project.avatar(:medium), class: 'img-rounded'
								.carousel-caption
									h4= project.title
									p= project.introduction
						- else
							.item
								= image_tag project.avatar(:medium), class: 'img-rounded'
								.carousel-caption
									h4= project.title
									p= project.introduction
					a.left.carousel-control href="#carousel-893976" data-slide="prev"
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control href="#carousel-893976" data-slide="next"
						span.glyphicon.glyphicon-chevron-right
						<!-- 分类输出项目简介 -->
			.row style="margin: 70px;"
				p 热门项目
				- Project.limit(4).each do |pc|
					.col-md-3
						.thumbnail
							= image_tag pc.avatar(:medium), class: 'img-rounded'
							.caption
								h3 = pc.title
								p= pc.introduction
								p
									a.btn.btn-primary href="#">Action
									a.btn href="#" Action
			.row style="margin: 70px;"
				p 科技项目
				- Project.limit(4).each do |pc|
					.col-md-3
						.thumbnail
							= image_tag pc.avatar(:medium), class: 'img-rounded'
							.caption
								h3 = pc.title
								p= pc.introduction
								p
									a.btn.btn-primary href="#">Action
									a.btn href="#" Action
			.row style="margin: 70px;"
				p 生活项目
				- Project.limit(4).each do |pc|
					.col-md-3
						.thumbnail
							= image_tag pc.avatar(:medium), class: 'img-rounded'
							.caption
								h3 = pc.title
								p= pc.introduction
								p
									a.btn.btn-primary href="#">Action
									a.btn href="#" Action