/* exception pages */

.exception {
  text-align: center;
  .exception-banner {
    margin-top: 62px;
    max-width: 100%;
  }

  .exception-content {
    margin-top: 6px;
    padding-bottom: 100px;
    background: image_url("bg-exception.jpg") repeat left top;
  }

  .buttons {
    text-align: center;
    padding: 10px 0 0;

    a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      overflow: hidden;
    }

    .prev {
      background: image_url("btns.png") no-repeat left top;
      width: 143px;
      height: 44px;
      margin-right: 2px;
    }

    .refresh {
      background: image_url("btns.png") no-repeat -296px 0;
      width: 143px;
      height: 44px;
      margin-right: 2px;
    }

    .return-home {
      background: image_url("btns.png") no-repeat -150px 0;
      width: 140px;
      height: 44px;
    }

  }

  .exception-detail {
    font-family: Arial;
    font-size: 26px;
    line-height: 40px;
    width: 290px;
    color: white;
    background-color: #ed7225;
    text-align: center;
    margin: 5px auto 0 auto;

  }
}