.info-boxes {
  margin-bottom: 25px;
  .info-box{
    min-height: 120px;
    .info-box-icon{
      min-height: 120px;
      line-height: 120px;
    }
    .info-box-content{
      text-align: center;
      p{
        margin-top: 18px;
        color: #556b7a;
        margin-bottom: 0px;
      }
      span{
        font-size: 30px;
      }
      h3{
        margin-top: 0px;
        color: #b4bfd1;
        font-size: 18px;
      }
      .note {
        float: right;
        color: #556b7a;
      }
    }
  }
}