.nav {
  &.nav-group-tabs {
    display: inline-block;
    border-radius: 4px;
    @include clearfix;
    border: 1px solid $border-color-grey;
    li {
      float: left;
      border-left: 1px solid $border-color-grey;

      a {
        padding: 5px 15px;
        color: #787878;
      }

      &.active {
        a {
          color: $primary-color;
        }
      }

      &:first-child {
        border-left: none;
      }
    }
  }
}