//翻页
.ddc-pagination {
  margin: 0 10px 0;
  vertical-align: middle;
  display: inline-block;

  li {
    display: inline-block;

    a {
      display: block;
      color: #566c7b;
      padding: 0 7px;
      line-height: 36px;

      &:hover {
        color: $green;
      }
    }

    &.active span {
      color: $green;
      padding: 0 7px;
    }

  }
  .prev, .next {
    a {
      border-radius: 4px;
      background-color: #566c7b;
      border-bottom: 3px solid $grey-darken;

      padding: 0 10px;
      margin: 0 5px;
      color: white;

      &:hover {
        background-color: $grey-darken;
      }
    }
  }
}

.paging {
  text-align: right;
  padding: 20px;
  nav {
    display: inline-block;
  }
  .paging-info {
    white-space: nowrap;
    vertical-align: middle;
  }
}
