.switch-tab{
	border-bottom: none;
	background:#d8e2ec;
	border-radius: 4px 4px 0 0;
	border-left:1px solid $border-color;
	font-size: 16px;
	a{
		color: #566c7b;
	}
	& > li > a{
		border:none;
		margin-right: 0;
		padding-left: 40px;
		padding-right: 40px;
		border-top:3px solid transparent;
		padding-top: 13px;
		padding-bottom: 13px;
	}
	& > li > a:hover,
	& > li.active > a,
	& > li.active > a:hover,
	& > li.active > a:focus{
		color: $green;
		font-weight: bolder;
		border:none;
		border-top:3px solid $green;
	}
}

.switch-content-wrapper{
	background:#fff;
	border:1px solid $border-color;
    padding: 0 15px 20px;
}