@import "bootstrap/mixins";

/** Generate margins, paddings and borders for some adjustment situation
*   This mixins will generate some abbreviated classes such as ".ml-1", which means "margin-left: 1px", the same as padding.
*   The results of this mixins would like this:
*   .mt-1 { margin-top: 1px}
*   .mr-1 { margin-right: 1px}
*   .mb-1 { margin-bottom: 1px}
*   .ml-1 { margin-left: 1px}
*   ... ...
*   .pt-1 { padding-top: 1px }
*   .pr-1 { padding-right: 1px }
*   ... ...
*   .bt-1 { border-top: 1px solid $grey-border-color }
*   ... ...
*   .bl-3 { border-left 3px solid $grey-border-color }
*/
@mixin generate-margin-padding-util() {
  $list: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25;

  @each $value in $list {
    .mt-#{$value} {
      margin-top: #{$value}px
    }
    .mr-#{$value} {
      margin-right: #{$value}px
    }
    .mb-#{$value} {
      margin-bottom: #{$value}px
    }
    .ml-#{$value} {
      margin-left: #{$value}px
    }
  }

  @each $value in $list {
    .pt-#{$value} {
      padding-top: #{$value}px
    }
    .pr-#{$value} {
      padding-right: #{$value}px
    }
    .pb-#{$value} {
      padding-bottom: #{$value}px
    }
    .pl-#{$value} {
      padding-left: #{$value}px
    }
  } 

  .no-bt {
    border-top: none !important
  }
  .no-br {
    border-right: none !important
  }
  .no-bb {
    border-bottom: none !important
  }
  .no-bl {
    border-left: none !important
  }
  .no-bd {
    border: none !important;
  }
}

/*
  .ft-12 { font-size: 12px }
  .ft-13 { font-size: 13px }
  ...
  .ft-48 { font-size: 48px }
*/
@mixin generate-font-sizes() {
  @for $i from 12 through 48 {
    .ft-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

@mixin generate-btn($color,$background){
  color:$color;
  background-color: $background;
  &:hover {
    color:$color;
    background: darken($background,10%);
  }
   &:focus {
    color:$color;
  }
}

@mixin generate-line-btn($color,$hoverColor:$white,$fontColor:$color){
  border-color: $color;
  color: $fontColor;
  &:hover{
    background-color: $color;
    color: $hoverColor;
  }
}

@mixin btn-hover($color, $bg-color, $border-color: $bg-color) {
  &:hover {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
  }
}

// @mixin generate-test-for{
//   @for $i from 1 through 3{
//     .text-#{$i}{
//       font-size: 1em * $i;
//     }
//   }
// }


// @mixin generate-text-each{
//   $ary: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25;
//   @each $i in $ary{
//     .font#{$i}{
//       font-size: 1em * $i;
//     }
//   }
// }