@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/all-skins";
@import "common/variables";
@import "common/mixins";

//color
$main-color:#0cc019;

//overrides bootsrtarp
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  border-left:none;
}
.navbar-custom-menu .navbar-nav > li > a{
  padding-top: 25px;
  padding-bottom: 25px;
  border-left:1px solid #dde2e6;
}

// admin lte overrides
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

//header
.main-header{
  border-bottom: 1px solid #cbd4db;
  .logo {
    position: relative;
    height: 70px;
    line-height: 70px;
    border-right: 1px solid #dde2e6;
    i {
      font-size: 26px;
      color: $main-color;
    }
    .logo-lg {
      span {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .sidebar-toggle{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}



//左侧栏
.main-sidebar{
  padding-top: 72px;
  .sidebar-menu{
    //一级菜单
    &>li>a{
      font-size: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      .fa{
        margin-right: 10px;
      }
      .fa-angle-left{
        font-size: 18px;
        font-weight: bolder;
        margin-right: 10px;
      }
    }

    //二级菜单
    .treeview-menu{
      padding-left: 0px;
      &> li > a{
        padding-top: 17px;
        padding-bottom: 17px;
      }
    }
  }
}

//主体内容
.fixed .content-wrapper{
  padding-top: 71px;
  background-color: #eceef2;
  .content{
    padding: 40px;
  }
}
.content-header{
  padding:0 0 20px 0;
}
.content-header .breadcrumb {
  float: none;
  position: static;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
}

@media (min-width: $screen-sm-min) {
  .main-header .logo {
    text-align: left;
    i {
      position: absolute;
      width: 22px;
      top: 2px;
      left: 15px;
    }
    .logo-lg span {
      margin-left: 27px;
    }
  }
}

@media(max-width: $screen-sm-min - 1){
  .fixed .content-wrapper{
    padding-top: 144px;
  }
  .main-header{
    height: 144px;
    .logo{
      border-right: none;
    }
  }
  .navbar-custom-menu .navbar-nav > li > a{
    border-left: none;
  }
  .main-sidebar{
    padding-top: 144px;
  }
}

.main-sidebar,
.left-side {
  @include transition-duration(0.2s, 0.2s);
}

.content-wrapper {
  border-left: none !important;
  background-color: white;
}

// box
.box {
  &.box-bordered {
    border-top-width: 3px;
    border-left: 1px solid $border-color-grey;
    border-right: 1px solid $border-color-grey;
    border-bottom: 1px solid $border-color-grey;
    .box-header {
      background-image: -webkit-linear-gradient(#fff, #f7f7f7);
      background-image: linear-gradient(#fff, #f7f7f7);
      &.with-border {
        border-bottom: 1px solid $border-color-grey;
      }
    }
  }

  .box-header {
    padding-left: 15px;
    padding-right: 15px;
    .box-title {
      color: #566c7b;
      font-size: 16px;
      font-weight: normal;
      line-height: 28px;
    }
  }

  .box-body {
    padding-left: 15px;
    padding-right: 15px;
  }



  &.box-solid {
    &.box-default {
      .box-header {
        background-color: #d8e2ec;
      }
    }
  }
}

// navs
.nav-tabs-custom {
  box-shadow: none;
  > .nav-tabs {
    border-bottom-color: $border-color-grey;
    > li.active {
      > a {
        border-left-color: $border-color-grey;
        border-right-color: $border-color-grey;
      }
    }
    //Pulled to the right
    &.pull-right {
      float: none !important;
      > li {
        float: right;
      }
      > li:first-of-type {
        &.active {
          > a {
            border-left-color: $border-color-grey;
          }
        }
      }
    }
  }
}

// buttons
.btn-default {
  background: -webkit-linear-gradient(#fff, #f3f3f3);
  background: linear-gradient(#fff, #f3f3f3);

  &:hover {
    background: -webkit-linear-gradient(#f3f3f3, #eee);
    background: linear-gradient(#f3f3f3, #eee);
    border-color: #ddd;
  }
}

.bg-blue-drak{
  background-color: #556fb5;
  color: #fff;
}
.bg-blue-light{
  background: #00afe1;
  color: #fff;
}
.bg-cyan{
  background: #59d3af;
  color: #fff;
}
.bg-purple{
  background: #b198dc;
  color: #fff;
}

.text-success {
  color: $green;
}
.text-danger {
  color: $red;
}
.text-warning {
  color: $warning-color;
}
.text-info {
  color: $blue;
}

//form
.form-group.has-error {
  .form-control {
    border-color: $red;
  }
  label, .help-block {
    color: $red;
  }
}
.form-control:focus {
  border-color: $green;
}
